{{define "search_results.html"}}
{{if .}}
<div class="box mt-4">
    <h3 class="subtitle is-5 has-text-light">Search Results</h3>
    <div class="list is-hoverable">
        {{range .}}
        <a class="list-item" href="#" hx-get="/browse/{{dir .}}" hx-target="#main-content">
            <span class="icon is-small"><i class="fas fa-file-alt"></i></span>&nbsp;<span>{{.}}</span>
        </a>
        {{end}}
    </div>
</div>
{{else}}
<!-- Intentionally empty to clear the results -->
{{end}}
{{end}}
